*{
  margin: 0;
  padding: 0;
}

#page {　
  width: 980px;
  /*margin: 0 auto;*/
}

/*----------ヘッダー ----------*/
#pageTop {
  width: 980px;
}

#pageTop img{
  width: 270px;
  float: left;
}

#pageTop img:after{
  content:"";
  clear: both;
  display: block;
}

#siteTitle {
  width: 980px;
  height: 60px;
}

#topSide {
  width: 400px;
  height: 60px;
  text-align: right;
  float: right;
}

#language :after{
  content:"";
  clear: both;
  display: block;
}

#language ul {
  margin: 0;
  text-align: right;
}

#language ul li{
  list-style: none;
  float: right;
  margin: 0px  20px 10px  0px;
}

/*グローバルナビ*/
#pageTop .globalNavi ul {
  margin: 0px;
  padding: 0px;
}

#pageTop .globalNavi ul:after {
  content:"";
  clear: both;
  display: block;
}

#pageTop .globalNavi ul li {
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  width: 120px;
  float: left;
  text-align: center;
}

/*パンくずナビ*/
#topicPath {
  background-color: #eee;
  width: 100%;
  padding: 13px 0px;
  margin-bottom: 26px;
}

#topicPath .navpoint {
  width: 980px;
}

#topicPath .nav {
  margin:0px;
  font-size: 12px;
  width: 200px;
}

#topicPath .nav img {
  margin-right: 5px;
}

/*---------- ボディー　----------*/
/*トップ*/
#pageBody {
  width: 980px;

}

#pageBody .bodyTop{
  width: 700px;
  padding: 13px 0px 26px 0px;
  border-bottom: solid 3px #0000CC;
}

#pageBody .bodyTop h1 {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}

#pageBody .bodyTop p {
  margin: 0px;
  font-size: 18px;
}

/*メイン*/
#bodyMain {
  width: 980px;
  /*height: 1070px;*/
}

#bodyMain :after {
  content:"";
  clear: both;
  display: block;
}

#bodyMain .bodyCenter {
  width: 700px;
  padding-top: 30px;
  float: left;
}

#bodyMain .bodyCenter table {
  font-size: 13px;
}

#bodyMain .bodyCenter table tr th,
#bodyMain .bodyCenter table tr td {
  border-bottom: 1px solid #e1e1e1;
}

#bodyMain .bodyCenter table tr th{
  text-align: left;
  width: 140px;
  height: 58px;
}

#bodyMain .bodyCenter table tr td{
  width: 560px;
  height: 58px;
}

/*---------- サイドナビ　----------*/
#bodySide {
  width: 250px;
  float: right;
}

#navList {
  background-color: #f5f5f5;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#navList .localNavi h3 {
  font-size: 16px;
  padding: 20px 25px;
}
#navList .localNavi h4 {
  font-size: 16px;
  padding: 8px 5px 8px 25px;
}

#navList .localNavi ul {
  list-style: none;
}

#navList .localNavi ul li {
  font-size: 13px;
  padding: 8px 5px 8px 35px;
}

/*ムービー,パンフレット*/
#navMovi,
#navBrochure{
  width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #eeeeee;
}

#navMovi h4,
#navBrochure h4{
  margin-bottom: 16px;
}

#navMovi p,
#navBrochure p{
  font-size: 13px;
}

#navBrochure .pamph {
  text-align: center;
}
