*{
  margin: 0;
  padding: 0;
}

#page {
  border-top: solid 4px #0055a9;

}

/*----------ヘッダー ----------*/
#pageTop {
  width: 980px;
  margin: 0 auto;
  padding-top: 15px;
}

#pageTop img{
  width: 270px;
  float: left;
}

#pageTop img:after{
  content:"";
  clear: both;
  display: block;
}

#siteTitle {
  width: 980px;
  height: 60px;
}

#topSide {
  width: 400px;
  height: 60px;
  text-align: right;
  float: right;
}

#topSide input {
  width: 158px;
  height: 15px;
}

#topSide a {
  font-size: 13px;
  text-decoration: none;
  color: #606060;
}

#topSide .investigate {
  height: 23px;
  border: 1px solid #cecece;
}

#language :after{
  content:"";
  clear: both;
  display: block;
}

#language ul {
  margin: 0;
  text-align: right;
}

#language ul li{
  list-style: none;
  float: right;
  margin: 0px  20px 10px  0px;
  font-size: 12px;
}

#language ul li.AL{
  color:#606060;
}

#language ul li.ja{
  font-weight: bold;
}

#language tr th {
  font-size: 13px;
}

#language tr th a{
  color: #333;
  text-decoration: none;
}

/*グローバルナビ*/
#pageTop .globalNavi ul {
  margin: 0px;
  padding: 0px;
}

#pageTop .globalNavi ul:after {
  content:"";
  clear: both;
  display: block;
}

#pageTop .globalNavi ul li {
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  width: 120px;
  float: left;
  text-align: center;
}

#pageTop .globalNavi ul li a{
  color: #333;
  text-decoration: none;
}

#pageTop .globalNavi a:hover{
  color: rgb(0, 91, 172);
}

/*パンくずナビ*/
#topicPath {
  background-color: #eee;
  width: 100%;
  padding: 13px 0px;
  margin-bottom: 26px;
}

#topicPath .navpoint {
  width: 980px;
  margin: 0 auto;

}

#topicPath .navpoint ul li {
  list-style: none;
  display: inline-block;
  font-size: 11px;
  padding-right: 5px;
}

#topicPath .navpoint ul li a{
  color: #333;
  text-decoration: none;
}

#topicPath .navpoint a:hover{
  text-decoration: underline;
}

#topicPath .navpoint img {
  margin-right: 5px;
}

/*---------- ボディー　----------*/
/*トップ*/
#pageBody {
  width: 980px;
  height: 1230px;
  margin: 0 auto;
}

#pageBody .bodyTop{
  width: 700px;
  padding: 13px 0px 26px 0px;
  border-bottom: solid 3px #0055a9;
}

#pageBody .bodyTop h1 {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}

#pageBody .bodyTop p {
  margin: 0px;
  font-size: 18px;
}

/*メイン*/
#bodyMain {
  width: 980px;
}

#bodyMain :after {
  content:"";
  clear: both;
  display: block;
}

#bodyMain .bodyCenter {
  width: 700px;
  padding-top: 30px;
  float: left;
}

#bodyMain .bodyCenter table {
  font-size: 13px;
}

#bodyMain .bodyCenter table tr th,
#bodyMain .bodyCenter table tr td {
  border-bottom: 1px solid #e1e1e1;
}

#bodyMain .bodyCenter table tr th{
  text-align: left;
  width: 140px;
  height: 58px;
}

#bodyMain .bodyCenter table tr td{
  width: 560px;
  height: 58px;
}

/*---------- サイドナビ　----------*/
#bodySide {
  width: 250px;
  float: right;
}

#navList {
  background-color: #f5f5f5;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#navList .localNavi h3 {
  font-size: 16px;
  padding: 20px 25px;
}
#navList .localNavi h4 {
  font-size: 16px;
  padding: 8px 5px 8px 25px;
}

#navList .localNavi ul {
  list-style: none;
}

#navList .localNavi ul li {
  font-size: 13px;
  padding: 8px 5px 8px 35px;
}

#navList .localNavi a {
  text-decoration:none;
  color: rgb(51, 51, 51);
}

#navList .localNavi a:hover{
  text-decoration: underline;
}

#navList .localNavi li:hover,
#navList .localNavi h4:hover{
  background-color: #ddf3fe;
}

/*ムービー,パンフレット*/
#navMovi,
#navBrochure{
  width: 200px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 20px;
  border: 1px solid #eeeeee;
}

#navMovi h4,
#navBrochure h4{
  margin-bottom: 16px;
}

#navMovi p,
#navBrochure p{
  font-size: 13px;
}

#navMovi {
  position: relative;
}

#navMovi a{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  text-indent: 100%; /*テキスト非表示*/
  white-space: nowrap; /*テキスト非表示*/
  overflow: hidden; /*テキスト非表示*/
}

#navBrochure .pamph {
  text-align: center;
}
/*---------- ページ内リンク　----------*/
#innerRink {
  width: 980px;
  margin: 0 auto;
  text-align: right;
}

/*---------- フッター　----------*/
/*フッターリスト*/
#footerList {
  background-color: #eaeaea;
  padding-bottom: 40px;
  margin-top: -32px;
}

#navBox {
  width: 980px;
  height: 850px;
  margin: 0 auto;
  padding-top: 40px;
}

#navBox h3 {
  font-size: 16px;
  padding-bottom: 10px;
}

#navBox a{
  text-decoration:none;
  color: rgb(51, 51, 51);
}

#navBox a:hover {
  text-decoration: underline;
}

#navBox h4,
#navBox ul li,
#footerLink ul li,
#footerInfo ul li {
  font-size: 13px;
  list-style: none;
}

#navBox ul li {
  margin-bottom: 2.6px;
}

#infoList {
  width: 280px;
  margin-right: 50px;
  padding-bottom: 40px;
  float: left;
}

#infoList:after{
  content:"";
  clear: both;
  display: block;
}

#infoList .mgmtList,
#infoList .guideList {
  width: 123px;
}

#infoList .mgmtList h4,
#infoList .guideList h4 {
  padding-bottom: 5px;
  color: #777777;
}

#infoList .mgmtList {
  float: left;
}

#infoList .guideList {
  float: right;
}

#infoList .partner {
  margin-top: 20px;
}

#bizList,
#opinionList {
  width: 161.6px;
  height: 395px;
}
#bizList,
#opinionList,
#newsList,
#susList,
#irList,
#adoptList,
#evtList {
  margin-right: 50px;
  padding-bottom: 40px;
  float: left;
}

#opinionList ul {
  margin-bottom: 20px;
}

#newsList {
  width: 161.6px;
  height: 420px;
  margin-top: -25px;
}

#newsList h3 {
  color: #777777;
}

#susList {
  width: 200px;
}

#irList {
 width: 195px;
}

#adoptList {
 width: 150px;
}

#evtList {
 width: 177px;
}

/*SNS*/
#footerLink,
#footerInfo,
#copy {
  width: 980px;
  margin: 0 auto;
}

#footerLink ul li {
  display: inline-block;
  margin-right: 30px;
}

#footerLink ul li a{
  color: #333;
  text-decoration: none;
}

#footerLink a:hover {
  text-decoration: underline;
}

/*確認事項*/
#footerInfo {
  padding: 13px 0px;
}

#footerInfo ul li {
  display: inline-block;
  border-right: solid 1px;
  padding: 0px 8px;
  height: 13px;
  line-height: 1.1;
}

#footerInfo ul li a {
  color: #606060;
  text-decoration: none;
}

#footerInfo a:hover {
  text-decoration: underline;
}

#copy {
  font-size: 13px;
  padding: 6.5px 0px 26px 0px;
}
